*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;

}
img {
    position: relative;
    width: 100%;
    z-index: 1;
}
.login {
    position: absolute;
    z-index: 2;
    top:40px;
    right:40px;
    font-size: 15px;
    font-weight:700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#log1{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
#log2{
    color: black;
    border-radius: 20px;
    border: 2px white solid;
    background-color: white;
    text-decoration: none;
    padding: 5px 15px ;
}
.mini-container2{
    position: absolute;
    z-index: 3;
    top: 25%;
    width: 100%;
    text-align: center;
}
.text{
    font-size: 25px;
    line-height: 76px;
    font-weight: 700;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    width: 700px;
}

.icons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons .search{
    outline: none;
    width: 450px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding: 12px;
    padding-left: 35px;
    z-index: 1;
}
::placeholder{
    padding-left: 1px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0ch;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icons .fa-location-dot{
    font-size: 20px ;
    z-index: 2;
    position: absolute;
    top: 202px;
    left: 470px;
}
.icons .fa-arrow-circle-right{
    font-size: 22px;
    color: red;
    margin-right:500px;
    z-index: 2;
    position: absolute;
    right:  -28px;
    top: 200px;
}

#saved{
    position: relative;
    margin: 0 auto;
    top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0ch;
    text-transform: none;
}
.mini-container3{
    display: inline-flex;
    margin: 400px;
    margin-top: 150px;
    margin-bottom: 200px;
    
    
}
.mini-container3 .second-div{
    font-size: 32px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(25, 25, 25);
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: block;
}
.mini-container3 .quote{
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: DD-TTNorms,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    display: block;  
}
div .button{
    margin-top: 20px;
    text-align: center;
    font-family: DD-TTNorms,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 20px;
    font-weight: 700;
}
#b1{
    color: rgb(255, 0, 0);
    text-transform: none;
    text-decoration: none; 
}
#b2 {
    color: rgb(255, 0, 0);
    text-transform: none;
    text-decoration: none;
}
#b3 {
    color: rgb(255, 0, 0);
    text-transform: none;
    text-decoration: none;
}
.mini-container4{
    display:inline-flex;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 265px;
}
.comments{
    display: block;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 100px;
}
.mini-container4 .comments .comment1 span{
    display:block;
    font-family: DD-TTNorms,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
.mini-container4 .comments .comment2 span {
    display: block;
    font-size: 20px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
    color: rgb(25, 25, 25);
    margin-top: 20px;
    display: block;
}
.comment3{
    margin-top: 30px;
}
.comment3 a{
    border: 2px red solid;
    background-color: red;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 25px;
    padding: 10px 20px;
    color: white;
    align-items: center;
}
.img{
    position: relative;
    top:40px;
}
.Container2{
    background: rgb(255, 240, 237);
    width: 100%;
}
.mini-container5 {
    display: inline-flex;
    margin-top: 150px;
    margin-left: 265px;
    margin-right: 100px;
    margin-bottom: 150px;
}
.commentb{
    display: block;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 200px;
}
.mini-container5 .commentb .commentb1 span{
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
}
.mini-container5 .commentb .commentb2 span{
    display: block;
    font-size: 20px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
    color: rgb(25, 25, 25);
    margin-top: 20px;
        
}
.commentb3{
    margin-top: 30px;
}
.commentb3 a{
    border: 2px red solid;
    background-color: red;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 25px;
    padding: 10px 20px;
    color: white;
    align-items: center;
}
footer{
    width: 100%;
    background-color: rgb(25, 25, 25);
}
.head{
    display: flex;
    justify-content: center;
    color: white;
}
.txt{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 500px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    font-size: 20px;
}
.content{
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    
}
.first{
    margin-left:370px;
    text-decoration: none;
    color: grey;
    margin-bottom: 20px;
    
}
.second{
    margin-left: 130px;
    text-decoration: none;
    color: grey;
    margin-bottom: 20px;
}
.third{
    margin-left: 100px;
    text-decoration: none;
    color: grey;
    margin-bottom: 20px;
}
.fourth{
    margin-left: 80px;
    text-decoration: none;
    color: gray;
    margin-bottom: 20px;
}
.fifth{
    margin-left: 200px;
    text-decoration: none;
    color: gray;
    margin-bottom: 20px;
}
.head1 {
    display: flex;
    justify-content:left;
    color: white;
}
.txt1{
    margin-top: 50px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0ch;
    font-size: 20px;
}
.know{
    margin-left: 365px;

}
.help{
    margin-left: 120px;
}
.business{
    margin-left: 90px;
}
a:hover{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}
.appstore{
    width: 200px;
    height: 44px;
    float: right;
    margin-right: 400px;
}
.bottom{
    display:flex;
    margin-left: 355px;
}
.dark{
    width: 70px;
}
.sens{
    margin-top: 20px;
    margin-left: 10px;
}
.sixth{
    text-decoration: none;
    justify-content: space-between;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: gray;
    margin-left: 10px;
    font-size: 14px;
}
.socials{
    position: relative;
    top: 20px;
    left: 200px;
}
.fa{
    margin-right: 20px;
    font-size: 20px;
    color: gray;
}
    
