*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;

}
img {
    position: relative;
    width: 100%;
    z-index: 1;
}
.login {
    position: absolute;
    z-index: 2;
    top:40px;
    right:40px;
    font-size: 15px;
    font-weight:700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#log1{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
#log2{
    color: black;
    border-radius: 20px;
    border: 2px white solid;
    background-color: white;
    text-decoration: none;
    padding: 5px 15px ;
}
.mini-container2{
    position: absolute;
    z-index: 3;
    top: 25%;
    width: 100%;
    text-align: center;
}
.text{
    font-size: 25px;
    line-height: 76px;
    font-weight: 700;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    width: 700px;
}

.icons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons .search{
    outline: none;
    width: 420px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding: 12px;
    padding-left: 35px;
    z-index: 1;
}
::placeholder{
    padding-left: 1px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0ch;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icons .fa-location-dot{
    font-size: 20px ;
    z-index: 2;
    position: absolute;
    top: 202px;
    left: 474px;
}
.icons .fa-arrow-circle-right{
    font-size: 26px;
    color: red;
    margin-right:500px;
    z-index: 2;
    position: absolute;
    right:  -28px;
    top: 200px;
}

#saved{
    position: relative;
    margin: 0 auto;
    top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0ch;
    text-transform: none;
}
.mini-container3{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    gap: 10;
    margin: 0 auto;
    margin-top: 25px; 
    margin-bottom: 100px;
}
.mini-container3 .second-div{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(25, 25, 25);
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: block;
}
.mini-container3 .quote{
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    display: block;  
}
div .button{
    margin-top: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#b1{
    color: rgb(255, 0, 0);
    text-transform: none;
    text-decoration: none; 
}
#b2 {
    color: rgb(255, 0, 0);
    text-transform: none;
    text-decoration: none;
}
#b3 {
    color: rgb(255, 0, 0);
    text-transform: none;
    text-decoration: none;
}
.mini-container4{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.comments{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}
.mini-container4 .comments .comment1 span{
    display:block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}
.mini-container4 .comments .comment2 span {
    display: block;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
    color: rgb(25, 25, 25);
    margin-top: 20px;
    display: block;
}
.comment3{
    margin-top: 30px;
}
.comment3 a{
    border: 2px red solid;
    background-color: red;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 25px;
    padding: 10px 20px;
    color: white;
    align-items: center;
}
.img{
    position: relative;
    top:40px;
}
.Container2{
    background: rgb(255, 240, 237);
}
.mini-container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.commentb{
    display: block;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}
.mini-container5 .commentb .commentb1 span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
}
.mini-container5 .commentb .commentb2 span{
    display: block;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 25px;
    text-transform: none;
    color: rgb(25, 25, 25);
    margin-top: 20px; 
}
.commentb3{
    margin-top: 30px;
}
.commentb3 a{
    border: 2px red solid;
    background-color: red;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 25px;
    padding: 10px 20px;
    color: white;
    align-items: center;
}
footer{
    background-color: rgb(25, 25, 25);
    
}

footer .footer-container{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.grid-container .grid1{
    grid-column: span 3;
}
.grid-container .grid2 {
    grid-column: span 3;
}
.grid-container .grid6 {
    grid-column: span 3;
}
.flex-container-second .shot{
    width: 70px;
}
footer ul{
    list-style-type: none;
    margin-top: 10px;
}

footer ul li{
    line-height: 1.8;
}
footer a{
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}

footer a:hover{
    text-decoration: underline;
    color: #fff;
}

footer .flex-container{
    display: flex;
    flex-direction: column;
}

    
